body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
  background-color: grey;
  color: white;
  margin: 10px;
}

.creative {
  color: #34699A;
}

.card-title {
  color: #58A0C8;
}

@media (max-width: 680px) {
  .main {
    display:inline-block;
  }
  h1 {
    font:2rem
  }
  .logo {
    width: 100px;
  }
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .card-title {
    text-align: center;
    width: 100%;
  }
  .card-text {
    text-align: center;
    margin: auto ;
  }
  .tile-image {
    float: none;
    width: 273px;
    height:200px;
    margin: 0 auto;
  }
}